/* *{
    background-color: cyan;
} */

body {
    background-color: #fefae0;
}

button{
    font-size: 30px;
    background-color: #bde0fe;
}

h1, h2{
    color: #023047;
}

#singup{
    background-color: #264653;
    color: #faedcd;
}

span{
    color: #0096c7;
}

.tag{
    background-color: #9e2a2b;
    color: #fefae0;
    font-size: 18px;
}

.post a {
    color: #0096c7;
    text-decoration: none;
    font-weight: bolder;
}

footer a{
    color: #E76F51;
}

h2 + button{
    font-size: 20px;
}

footer > a{
    color: #00b4d8;
}

input[type = password]{
    color: greenyellow;
}

a[href*="google"]{
    color: magenta;
}

.post button:hover{
    background-color: #9e2a2b;
    color: white;
}


.post a:hover{
    text-decoration: underline;
}

.post button:active{
    background-color: #bb9457;
}

.post:nth-of-type(2n){
    background-color: #bde0fe;
}

h2:first-letter{
    font-size: 50px;
}

p::first-line{
    color: purple;
}

p::selection{
    background-color: #ffc300;
}

button:hover{
    background-color: olive;
}





